.home-page {
    .bar-spinner {
        margin-top: 50px;
    }

    .search-block {
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px solid $blue;
        margin-bottom: 10px;

        button {
            position: absolute;
            right: 0;
            top: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }   
    }

    .no-more {
        font-size: 16px;
        color: $blue;
        display: inline-block;
        width: 100%;
        padding: 40px 0 20px;
        text-align: center;
        text-transform: uppercase;
    }
}