.favorites-page {
    padding-bottom: 20px;
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        border-bottom: 1px solid $blue;
        padding: 20px 0;
        margin-bottom: 20px;
        color: $blue;
        font-weight: bold;
    }
}