button.button,
a.button {
    display: inline-block;
    outline: none;
    color: $white;
    border-radius: 4px;
    height: $button-height;
    line-height: $button-height;
    font-size: $button-size;
    text-transform: uppercase;
    user-select: none;
    padding: 0 20px;
    cursor: pointer;
    font-weight: 600;
    background: $blue;
    border: 1px solid transparent;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    transition: background $average ease 0s;

    &:hover {
        background: darken($blue, 10%);
        transition: background $fast ease 0s;
    }

    &:disabled,
    &[disabled] {
        border-bottom: 1px solid darken($blue, 5%);
        background: $blue;
        opacity: 0.65;
        transform: scale(1) !important;
        cursor: not-allowed;
    }
}